
.app{
  padding-left: 250px;
  padding-top: 50px;
 
  padding-bottom: 50px;
  min-height: 100vh;
  background-color:rgb(36, 34, 34);
 justify-content:space-around;
 align-content: center;
}

.mmn
{
  margin-left:250px;
  height: 220px;
  width: 300px;
  background: beige;
  column-gap: 100px;
  margin-bottom: 50px;
  border-radius: 30px;
  display:flex;
  flex-direction: column;
  
  align-items: center;
}
.milk{
  height: 550px;
  width: 700px;
  margin-left: 50px;
 padding-bottom: 20px;
  padding: 10px;
  background: beige;
  column-gap: 100px;
  margin-bottom: 50px;
  border-radius: 30px;
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.heading{
  font: outline;
  color: rgb(238, 234, 229);
  font-size: 110px;
  
}
.experiment{
  height: 300px;
  width: 800px;
  background: rgb(226, 133, 11);
  color: rgb(14, 12, 12);
  column-gap: 100px;
  margin-bottom: 50px;
  border-radius: 30px;
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.inf{
  height: 100px;
  width: 200px;
  background:cornflowerblue;
  color: antiquewhite;
  column-gap: 100px;
  margin-bottom: 50px;
  border-radius: 30px;
  display:flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.obs{
  height: 100px;
  width: 200px;
  
  background:gray;
  color: antiquewhite;
  column-gap: 100px;
  margin-bottom: 50px;
  border-radius: 30px;
  display:flex;
  flex-direction: column;
  
  align-items: center;
  text-align: center;
}
.h
{
  padding-right: 200px;
  color: rgb(201, 199, 196);
}